{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <section class="w-full max-w-[1280px] m-7 p-7 border-solid border-[3px] border-white rounded-xl">
        <div class="flex justify-center">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
        <div class="flex">
            {{ component('GameEnterCode', {'codeToDisplay': codeToDisplay}) }}
            {{ component('GameDisplay', {'codeToFind' : codeToFind, 'journal' : journal}) }}
        </div>
    </section>
{% endblock %}
