{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <div class="flex w-full max-w-[1280px] px-7">
        {{ component('GameEnterCode') }}
        {{ component('GameDisplay', {'codeToFind' : codeToFind}) }}
    </div>
{% endblock %}
