@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: skyblue;
}

.btn {
    display: inline-block;
    background-color: #4E9C4B;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    transition: background-color 150ms;
}

.btn:hover {
    background-color: #5DB959;
}

.inline-radio {
    width: 100%;
    margin-bottom: 10px;
    display: inline-flex;
    border-radius: 20px;
    overflow: hidden;
}

.inline-radio > div {
    width: 100%;
    display: flex;
}

.inline-radio label{
    flex: 1;
    background-color: #52525B;
    color: white;
    padding: 5px 20px;
    text-align: center;
    transition: background-color 150ms;
}

.inline-radio label:hover {
    background-color: #767683;
}

.inline-radio input {
    display: none;
}

.inline-radio input:checked ~ label {
    background-color: #609EAA;
}

.code {
    display: inline-block;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: white;
    padding: 2px;
}

.green, .yellow, .null {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px;
    color: black;
    margin: 2px;
}

.green {
    background-color: limegreen;
}

.yellow {
    background-color: gold;
    border-radius: 60px;
}