{% extends 'base.html.twig' %}

{% block title %}Mentions légales | Code Secret{% endblock %}

{% block body %}
    <section class="m-2 sm:m-7 flex p-2 sm:p-7 border-solid border-[3px] border-white rounded-xl flex-col max-w-[1280px]">
        <article class="bg-zinc-600 text-white p-3 sm:p-10 rounded">
            <h1 class="text-2xl font-bold text-center">Mentions légales</h1>
            <h2 class="text-xl font-bold mt-8">Propriétaire du site</h2>
            <p><span class="font-bold">Nom : </span>Joris Lamaque</p>
            <p><span class="font-bold">Adresse électronique : </span><a href="mailto:jorlam@alwaysdata.net&quot;">jorlam@alwaysdata.net</a></p>
            <h2 class="text-xl font-bold mt-4">Hébergement du site</h2>
            <p><span class="font-bold">Raison sociale : </span>ALWAYSDATA - Société à responsabilité limitée</p>
            <p><span class="font-bold">Siège social : </span>91 rue du Faubourg Saint-Honoré, 75008 Paris</p>
            <p><span class="font-bold">Téléphone : </span>+33 1 84 16 23 40</p>
            <h2 class="text-xl font-bold mt-4">Données personnelles</h2>
            <p>Nous ne collectons aucune information personnelle.</p>
            <h2 class="text-xl font-bold mt-4">Cookies</h2>
            <p>Nous utilisons des cookies pour assurer le bon fonctionnement du site, comme pour générer des identifiants utilisateur anonymes et gérer les sessions de jeu. Aucune information personnelle n'est collectée via ces cookies.</p>
        </article>
    </section>
{% endblock %}
