<div {{ attributes }} class="max-w-[300px] m-auto bg-zinc-600 pt-4 pb-6 rounded-xl shadow-custom">

    <div class="p-2 m-2 bg-white flex gap-2 justify-center bg-gradient-to-b from-zinc-900 to-zinc-800 rounded-lg">
        {% for char in codeToDisplay %}
            <div class="w-[20px] text-3xl text-green-400">{{ char }}</div>
        {% endfor %}
    </div>

    <div class="grid grid-cols-3 gap-2 w-full pt-6 px-8">
    {% for btn in ["1", "2", "3", "4", "5", "6", "7", "8", "9", "C", "0", "OK"] %}
        <button
                class="py-3 bg-zinc-200 hover:bg-zinc-300 text-2xl font-normal rounded font-bold shadow-custom active:shadow-customClick"
                data-action="live#action"
                data-live-action-param="keypadClick"

                data-live-number-param="{{ btn }}"

        >{{ btn }}</button>
    {% endfor %}
    </div>

</div>